body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #74176ed2, #6b2548);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 280px;
  color: white;
}


h1 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}


#display {
  width: 100%;
  height: 50px;
  font-size: 22px;
  text-align: right;
  border: none;
  border-radius: 12px;
  padding: 0 10px;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  outline: none;
  box-shadow: inset 2px 2px 5px rgba(255,255,255,0.4),
              inset -2px -2px 5px rgba(0,0,0,0.1);
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}


button {
  height: 55px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.35);
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2),
              -2px -2px 5px rgba(255,255,255,0.2);
}

button:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.5);
}


.clear, .back {
  background: rgba(255, 99, 132, 0.7);
  color: white;
}

.clear:hover, .back:hover {
  background: rgba(255, 99, 255, 0.73);
}


.equal {
  grid-row: span 2;
  background: #2c0b2f;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  height: 120px; 
}


.equal:hover {
  background:#2c0b2f; 
}


.zero {
  grid-column: span 2;
}
