html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Background image */
.bg-img {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

/* Switch Container */
.switch-container {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 10;
}

/* Switch Design */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
}

.slider {
    position: absolute;
    inset: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

/* Toggle ON */
input:checked + .slider {
    background-color: #8df5a4;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
